body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #333;
}

a {
    color: #3498db;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

ul li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li span {
    flex-grow: 1;
}

.actions {
    display: flex;
    gap: 10px;
}

ul li a {
    margin: 0 5px;
}

ul li:last-child {
    margin-bottom: 0;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    flex-flow: nowrap, column;
}

.checkbox-item {
    display: flex;
    align-items: center;
    width: calc(50% - 10px);
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-item label {
    font-weight: normal;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #2980b9;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.option{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin: 15px;
    background-color: #2980b9;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.option:hover {
    background-color: #3498db;
    text-decoration: none;
}

.compact {
    width: auto;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.compact th,
.compact td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}

.compact th {
    background-color: #f2f2f2;
}

.lista-personas {
    margin-bottom: 15px;
    margin-top: 15px;
}

.header {
    background-color: #3498db;
    color: white;
    padding: 15px;
    text-align: center;
    
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}