<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Persona</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="header">
        <h1>Agregar Persona</h1>
    </div>
    <form method="post">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br>
        <label for="genero">Género:</label><br>
        <select id="genero" name="genero">
            <option value="M">Mujer</option>
            <option value="H">Hombre</option>
        </select><br>
        <label for="no_disponibilidad">Días no disponibles:</label><br>
        {% for dia in dias %}
        <input type="checkbox" name="no_disponibilidad" value="{{ dia }}"> {{ dia }}<br>
        {% endfor %}
        <button type="submit">Agregar</button>
    </form>
    <div class="navbar">
        <a href="{{ url_for('ver_personas') }}">Cancelar</a>
    </div>
</body>

</html>