{% extends "base.html" %}

{% block title %}Lista de Tareas - Gestión de Tareas{% endblock %}

{% block content %}
<h1>Lista de Tareas Generada</h1>
<table class="table">
    <thead>
        <tr>
            <th>Día</th>
            {% for espacio in espacios %}
            <th>{{ espacio.nombre }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for dia in dias %}
        <tr>
            <td>{{ dia }}</td>
            {% for espacio in espacios %}
            <td>{{ calendario[dia][espacio.nombre] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Conteo de Tareas por Persona</h2>
<ul>
    {% for persona, count in contador_tareas.items() %}
    <li>{{ persona }}: {{ count }}</li>
    {% endfor %}
</ul>
{% endblock %}