<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario de Tareas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="header">
        <h1>Calendario de Tareas de Limpieza</h1>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>Día</th>
                {% for espacio in espacios %}
                <th>{{ espacio.nombre }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dia, tareas in calendario.items() %}
            <tr>
                <td>{{ dia }}</td>
                {% for espacio in espacios %}
                <td>{{ tareas[espacio.nombre] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Asignación de Tareas</h2>
    <table class="compact">
        <thead>
            <tr>
                <th>Persona</th>
                <th>Cantidad de Tareas</th>
            </tr>
        </thead>
        <tbody>
            {% for persona, cantidad in contador_tareas.items() %}
            <tr>
                <td>{{ persona }}</td>
                <td>{{ cantidad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navbar">
        <a href="{{ url_for('inicio') }}">Volver a Inicio</a>
    </div>
</body>

</html>