<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Persona</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="header">
        <h1>Modificar Persona: {{ persona.nombre }}</h1>
    </div>
    <form method="post">
        <label for="no_disponibilidad">Días no disponibles:</label><br>
        {% for dia in dias %}
        <input type="checkbox" name="no_disponibilidad" value="{{ dia }}" {% if dia in persona.no_disponibilidad
            %}checked{% endif %}> {{ dia }}<br>
        {% endfor %}
        <button type="submit">Guardar</button>
    </form>
    <div class="navbar">
        <a href="{{ url_for('ver_personas') }}">Cancelar</a>
    </div>
</body>

</html>