<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Persona</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Modificar Persona: {{ persona.nombre }}</h1>
        </div>
        
        <form method="post">
            <label for="no_disponibilidad">Días no disponibles:</label>
            <div class="checkbox-group">
                {% for dia in dias %}
                <div class="checkbox-item">
                    <input type="checkbox" name="no_disponibilidad" value="{{ dia }}">
                    <label>{{ dia }}</label>
                </div>
                {% endfor %}
            </div>
            <button type="submit">Guardar</button>
            <button type="cancel">Atras</button>
        </form>
    </div>
</body>

</html>