{% extends "base.html" %}

{% block title %}Modificar Persona{% endblock %}

{% block content %}
<body>
    <div class="container mt-4">
        <div class="header mb-4">
            <h1 class="text-center text-primary text-dark">Modificar Persona: {{ persona.nombre }}</h1>
        </div>
        
        <form method="post" class="border p-4 rounded bg-light">
            <div class="mb-3">
                <label for="no_disponibilidad" class="form-label">Días no disponibles:</label>
                <div class="row">
                    {% for dia in dias %}
                    <div class="col-md-4 col-sm-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="no_disponibilidad" value="{{ dia }}" id="dia-{{ loop.index }}">
                            <label class="form-check-label" for="dia-{{ loop.index }}">
                                {{ dia }}
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{{ url_for('ver_personas') }}" class="btn btn-primary">Atrás</a>
            </div>
        </form>
    </div>
    
</body>
{% endblock %}
