{% extends "base.html" %}

{% block title %}Ver Personas - Gestión de Tareas{% endblock %}

{% block content %}
<h1>Lista de Personas</h1>
<table class="table" >
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Género</th>
            <th>No Disponibilidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for persona in personas %}
        <tr>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.genero }}</td>
            <td>{{ ", ".join(persona.no_disponibilidad) }}</td>
            <td>
                <a href="{{ url_for('modificar_persona', nombre=persona.nombre) }}"
                    class="btn btn-sm btn-primary">Modificar</a>
                <a href="{{ url_for('eliminar_persona', nombre=persona.nombre) }}" class="btn btn-sm btn-danger"
                    onclick="return confirm('¿Está seguro de que desea eliminar a esta persona?')">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}